@import 'partials/variables';

// html overflow hidden? 

body {
  display: flex;
  flex-shrink: 0;
  flex-direction: column;
  align-items: center;
  font-family: $montserrat;
  font-size: 14px;
  overflow: scroll;
  overflow-x: hidden;
  background: url(../images/shakshuka_brunch.png) no-repeat center center fixed;
  background-size: cover;
  height: 100%;
}
