@import './partials/variables';

.data-vis {
  width: 80vw;
  display: flex;
  flex-direction: row;
  flex-shrink: 0;
  padding: 0 15px 0;
  margin: 0 0 80px 0;
  justify-content: center;
  background: rgba(248, 249, 249, 1);
  border-radius: 5px;
  font-family: $montserrat;

  [class^="search-results-"] {
    width: 0;
    overflow: hidden;
  }
  
  .search-results-revealed {
    width: 30%;
    max-height: 100%;
    transition: 0.5s;
    padding: 30px 15px 30px;
    box-sizing: border-box;
    overflow: auto;
  }

  .results-list {
    max-height: 100%;

    li {
      background: rgb(240, 240, 240);
      padding: 10px;
      margin-bottom: 10px;
      border-radius: 2px;
    }
  }

  .chart-container {
    width: 80%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    transition: 0.5s;
  
    h1 {
      font-size: 20px;
      font-weight: 400;
      padding: 1em;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      padding: 1em 1em 0;
    }

    .canvas-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }
}

@media screen and (max-width: 950px) {
  .data-vis {
    width: 90vw;
  }
}

#yelpChart {
  font-family: $montserrat;
}
