@import './partials/variables';

.data-vis {
  [class^="chart-container"] {
    width: 80%;
    max-height: inherit;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    color: rgb(90, 90, 90);
    transition: 0.5s;
  
    h1 {
      font-size: 20px;
      font-weight: 400;
      padding: 1em;
    }

    h2 {
      font-size: 16px;
      font-weight: 700;
      padding: 1em 1em 0;
    }

    .canvas-container {
      position: relative;
      width: 100%;
      height: 100%;
    }
  }

  .chart-container-sharing {
    width: 70%;
  }
}

#yelpChart {
  font-family: $montserrat;
}
