@import './partials/variables';

.data-vis {
  width: 70vw;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: rgba(248, 249, 249, 1);
  border-radius: 5px;
  font-family: $montserrat;

  .chart-container {
    display: flex;
    width: 80%;
    height: 100%;
    flex-direction: column;
    align-items: center;

    h1 {
      font-size: 20px;
      font-weight: 700;
      padding: 1em;
    }

    h2 {
      font-size: 16px;
      padding: 1em;
    }

    .canvas-container {
      position: relative;
      width: 100%;
      height: 100%;
      padding: 15px;
      box-sizing: border-box;
    }
  }
}

@media screen and (max-width: 950px) {
  .data-vis {
    width: 80vw;
  }
}

#yelpChart {
  font-family: $montserrat;
}
