@import './partials/variables';

.data-vis-container {
  
}

.data-vis {
  width: 80vw;
  display: flex;
  flex-direction: row;
  // flex-shrink: 0;
  padding: 0 15px 0;
  margin-bottom: 30px;
  justify-content: center;
  background: rgba(248, 249, 249, 1);
  border-radius: 5px;
  font-family: $montserrat;

  @media screen and (max-width: 950px) {
    width: 85vw;
    flex-direction: column-reverse;
    align-items: center;
  }
}

