header {
  position: fixed;
  width: 100%;
  height: 90px;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px;
  box-sizing: border-box;
  background: rgba(211, 35, 35, 0.9);
  color: #fff;

  a {
    text-decoration: none;
    // color: rgba(0, 0, 0, 0);
  }
  
  .page-title {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
  }
  
  .nav-links {
    animation-delay: 0.5s;
    
    [class^="media-icon-"] {
      display: inline-block;
      background-repeat: no-repeat;
      padding-top: 37px;
    }
    
    .media-icon-yelp-burst {
      background-image: url("../images/Yelp_burst_negative_RGB.png");
      width: 50px;
      background-size: 50px 50px;
    }

    .media-icon-github {
      padding-right: 15px;
      background-image: url("../images/github-icon.png");
      width: 37px;
      background-size: 36px 36px;
      
      &:hover {
        background-size: 37px 37px;
      }
    }
      
    .media-icon-linkedin {
      background-image: url("../images/linkedin-icon.png");
      width: 49px;
      background-size: 48px 36px;
  
      &:hover {
        background-size: 49px 37px;
      }
    }
  }
}

.header-spacer {
  width: 100%;
  height: 90px;
}



