header {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px 0;
  box-sizing: border-box;
  background: rgba(211, 35, 35, 0.9);
  color: #fff;
}

header a {
  text-decoration: none;
  display: inline-block;
  color: rgba(0, 0, 0, 0);
  vertical-align: middle;
  
  h1 {
    font-size: 32px;
    font-weight: 400;
    color: #fff;
  }
  
  .nav-link {
    padding-top: 32px;
    background-position: center;
    background-repeat: no-repeat;
    overflow: hidden;
  }
}

a.github-link {
  background-image: url("../images/github-icon.png");
  background-size: 36px 36px;
  padding-right: 10px;
}

a.github-link:hover {
  background-size: 37px 37px;
}

a.linkedin-link {
  background-image: url("../images/linkedin-icon.png");
  background-size: 48px 36px;
}

a.linkedin-link:hover {
  background-size: 49px 37px;
}